
*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: black;
}

h1 {
  margin: 10% 0 0 18%;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.left {
  min-width: 350px;
}

.left > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.scores {
  list-style: none;
  padding: 2% 0;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  padding-inline-start: 0;
  background-color: azure;
}

.list-item {
  padding-left: 5%;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: azure;
}

.list-item:nth-child(even) {
  background-color: lightgray;
}

input[type=text] {
  display: block;
  line-height: 25px;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 5px;
}

input[type=number] {
  display: block;
  line-height: 25px;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 5px;
  color: aquamarine;
}

button[type=submit] {
  float: right;
  color:black;
  background-color: rgb(253, 251, 251);
  border-radius: 10px;

}
.ref{
  color:black;
  background-color: rgb(253, 251, 251);
  border-radius: 10px;
}
.right>h2{
  color: white;
}
